<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-brand" [routerLink]="['/']">
    <img src="/assets/dear-diary.png" width="50" height="50" class="d-inline-block align-top" alt="" />
    Diary Entry
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <!-- if the user is present then printing email -->
      <div *ngIf="email" class="navbar-text float-left">
        {{ email }}
      </div>
      <a [routerLink]="['/']" class="nav-item nav-link">Home🏡</a>
      <!-- conditionally rendering links  -->
      <a *ngIf="!email" routerLinkActive="active" [routerLink]="['/signin']" class="nav-item nav-link">Sign In👀</a>
      <a *ngIf="!email" routerLinkActive="active" [routerLink]="['/signup']" class="nav-item nav-link">Sign Up➕</a>

      <a *ngIf="email" routerLinkActive="active" (click)="handleSignOut()" class="nav-item nav-link text-warning">Log Out🚫</a>

      <a *ngIf="email" routerLinkActive="active" [routerLink]="['/addpost']" class="nav-item nav-link btn btn-warning text-dark">
        Write 📝</a>
    </div>
  </div>
</nav>
